.container{
      font-size: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(65, 6, 65);
      text-align: center;

}


h1{
  font-style: oblique;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;

}

body{
  background-image: url(https://avatars.mds.yandex.net/get-pdb/909745/9e0eb904-4cf3-4b5f-b46a-f4ff1c7c649f/orig);
  background-repeat: no-repeat;
  background-size: 100%;
}